:root {
  --primary: #eeda78;
  --bg: #c0985d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Playfair+Display", sans-serif;
  background-color: var(--bg);
  color: #fff;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(1, 1, 1, 0.5);
  border-bottom: 1px solid var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--bg);
  font-style: italic;
}

.navbar-nav a {
  color: whitesmoke;
  display: inline-block;
  font-size: 1.2rem;
  margin: 0 1rem;
}

.navbar-nav a:hover {
  color: var(--primary);
}

.navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar-extra a {
  color: #f5f1f1;
  margin: 0 0.5rem;
}

.navbar-extra a:hover {
  color: var(--primary);
}

#menu {
  display: none;
}
/* NAVBAR END */

/* HERO START */
.hero {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/priestley2.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.content {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(206, 241, 248, 0.4);
  border-radius: 8px;
}

.content h1 {
  font-size: 3rem;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 1, 0.5);
  line-height: 1.2;
}

.content span {
  color: rgb(15, 22, 209);
}

.content p {
  align-items: center;
  object-position: center;
  justify-content: center;
  color: #fff;
  font-size: 1.3rem;
  margin-top: 0.2rem;
  line-height: 1.2;
  text-shadow: 1px 1px 3px rgba(1, 1, 1, 0.5);
}

.play {
  color: rgb(245, 242, 242);
  font-size: 13px;
  margin-top: 0.7rem;
  font-weight: 300;
  text-decoration: none;
  border-radius: 12px;
  padding: 10px 20px;
  background-color: var(--bg);
  box-shadow: 1px 1px 3px rgba(1, 1, 1, 0.5);
}

.play:hover {
  color: var(--bg);
  background-color: var(--primary);
  transition: 1s ease;
}
/* HERO END */

/* ABOUT START */
.about {
  padding: 6rem 7% 5rem;
  border-bottom: 2px solid var(--primary);
}

.about h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 3rem;
  text-shadow: 1px 1px 3px rgba(1, 1, 1, 0.5);
}

.row {
  display: flex;
  border-bottom: 2px solid var(--primary);
  padding-bottom: 5rem;
}

.about-img {
  flex: 1 1 40rem;
}

.img-about {
  width: 100%;
  height: 100%;
}

.about-content {
  padding: 0 1.2rem;
  flex: 1 1 35rem;
}

.about-content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  text-shadow: 1px 1px 3px rgba(1, 1, 1, 0.5);
}

.about-content p {
  margin-bottom: 0.8rem;
  font-size: 1.2rem;
  font-weight: 100;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-shadow: 1px 1px 3px rgba(1, 1, 1, 0.5);
}

.about-content span {
  font-weight: 700;
  font-size: 1.5rem;
}

.walas {
  padding: 8rem 7% 3rem;
}

.walas h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-shadow: 1px 1px 3px rgba(1, 1, 1, 0.5);
}

.walas p {
  text-align: center;
  font-size: 1.2rem;
  max-width: 30rem;
  margin: auto;
  font-weight: 100;
  line-height: 1.6;
  text-shadow: 1px 1px 3px rgba(1, 1, 1, 0.5);
}

.row-walas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.wakes {
  text-align: center;
  padding: 1rem 2rem;
}

.wakes h2 {
  margin-bottom: 1.5rem;
}

.wakes img {
  border-radius: 50%;
  object-position: center;
}

.wakes p {
  padding-top: 1rem;
  text-align: center;
  font-size: 1.2rem;
  max-width: 25rem;
  margin: auto;
  font-weight: 100;
  line-height: 1.6;
}
/* ABOUT END */

/* MEMBER START */
.member {
  padding: 6rem 7% 1.4rem;
}

.member h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-shadow: 1px 1px 3px rgba(1, 1, 1, 0.5);
}

.member p.mim {
  text-align: center;
  font-size: 1.2rem;
  max-width: 40rem;
  margin: auto;
  font-weight: 100;
  line-height: 1.6;
  text-shadow: 1px 1px 3px rgba(1, 1, 1, 0.5);
}

.member p {
  text-align: center;
  font-size: 1.2rem;
  max-width: 40rem;
  margin: auto;
  font-weight: 100;
  line-height: 1.6;
}

.row-member {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  justify-content: center;
}

.jijah,
.diah,
.mayang,
.bunga,
.naja {
  text-align: center;
  padding: 1rem 3rem 2rem;
}

.jijah img,
.diah img,
.mayang img,
.bunga img,
.naja img {
  border-radius: 50%;
  object-position: center;
}

.jijah h3,
.diah h3,
.mayang h3,
.bunga h3,
.naja h3 {
  text-align: center;
  margin: 1rem auto 0;
  max-width: 150px;
}

h3.tl {
  text-align: center;
  margin: 0.2rem auto 0.4rem;
  max-width: 150px;
}

.jijah p,
.diah p,
.mayang p,
.bunga p,
.naja p {
  text-align: center;
  max-width: 150px;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.jijah a,
.diah a,
.mayang a,
.bunga a,
.naja a {
  background-color: var(--primary);
  border-radius: 50%;
  margin: 1rem 0.5rem 1rem;
  padding: 0.5rem 0.5rem;
  color: #fff;
}
/* MEMBER END */

/* SLIDER START */
.memoris {
  padding: 5rem 7% 1.4rem;
  border-top: 2px solid var(--primary);
}

.memoris h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-shadow: 1px 1px 3px rgba(1, 1, 1, 0.5);
}
.memoris p {
  text-align: center;
  font-size: 1.2rem;
  max-width: 40rem;
  margin: auto;
  font-weight: 100;
  line-height: 1.6;
  text-shadow: 1px 1px 3px rgba(1, 1, 1, 0.5);
}

.memori {
  border-bottom: 2px solid var(--primary);
}

.slider {
  width: 1260px;
  max-width: 100vw;
  height: 600px;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.list {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  width: max-content;
  transition: 1s;
}

.list img {
  width: 1260px;
  max-width: 100vw;
  height: 100%;
  object-fit: cover;
}

.buttons {
  position: absolute;
  top: 45%;
  left: 5%;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.buttons button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff5;
  color: #fff;
  border: none;
  font-family: monospace;
  font-weight: bold;
}

.dots {
  position: absolute;
  bottom: 10px;
  color: #fff;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.dots li {
  list-style: none;
  width: 10px;
  height: 10px;
  background-color: #fff;
  margin: 20px;
  border-radius: 20px;
  transition: 1s;
}

.dots li.active {
  width: 25px;
}

/* SLIDER END */
.blank {
  padding: 5rem;
}
.quotes {
  padding: 7rem 2rem 4rem;
}
.row-quot {
  display: flex;
}
.quot {
  margin-top: 6rem;
  padding: 1rem 1rem;
  text-align: center;
  font-size: 30px;
  font-family: italic;
}
.logo {
  padding: 1rem 1rem;
  margin-right: 2rem;
}
.logo img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-position: center;
}
/* FOOTER START */
footer {
  background-color: var(--primary);
  text-align: center;
  padding: 0.6rem 0;
}

.social {
  padding: 0.3rem 0;
  display: inline-flex;
}

.ig {
  padding: 0.4rem 0.5rem;
}

footer a {
  text-align: center;
  color: #fff;
  font-weight: 700;
}

footer a:hover {
  color: var(--bg);
}

.links {
  margin: 0.8rem;
}

.links a {
  padding: 0.7rem 1.4rem;
}

.links a:hover {
  background-color: var(--bg);
  color: var(--primary);
  border-radius: 10px;
  transition: 1s ease;
}

.credit {
  font-size: 0.9rem;
}
/* FOOTER END */

/* KEPO HTML START*/
.kepo {
  padding: 20rem;
  text-align: center;
  font-family: italic;
}

.kepo2 {
  text-align: center;
  justify-content: center;
}

.kepo2 h1 {
  font-size: 5rem;
}

.kepo2 p {
  font-size: 2rem;
}
/* KEPO HTML END*/

/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 758px) {
  html {
    font-size: 62%;
  }
  #menu {
    display: inline-block;
  }
  .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 20rem;
    height: 100vh;
    background-color: rgb(202, 192, 180);
    transition: 0.3s;
  }
  .navbar-nav.active {
    right: 0;
  }
  .navbar-nav a {
    color: whitesmoke;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
  }
  .navbar-nav a:hover {
    color: #e1a43c;
  }
  .navbar-nav a::after {
    transform-origin: 0 0;
    border-bottom: 0.1rem solid #e1a43c;
    transition: 0.2s linear;
  }
  .navbar-nav a:hover::after {
    transform: scaleX(0.3);
  }
  .navbar-extra a {
    display: inline-block;
  }
  .hero {
    background-image: url(../img/pp.jpg);
  }
  .content span {
    color: rgb(171, 171, 173);
  }
  .row {
    flex-wrap: wrap;
  }
  .img-about {
    height: 24rem;
    object-fit: cover;
  }
  .about-content {
    padding: 0;
  }
  .about-content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }
  .about-content p {
    font-size: 1.6rem;
  }
  .member h3 {
    font-size: 1.5rem;
  }
  .member p {
    font-size: 1.2rem;
  }
  .slider {
    width: 1000px;
    max-width: 96vw;
    height: 300px;
    margin: auto;
    position: relative;
    overflow: hidden;
  }
  .list {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    width: max-content;
    transition: 1s;
  }
  .list img {
    width: 1000px;
    max-width: 96vw;
    height: 100%;
    object-fit: cover;
  }
  .dots li {
    width: 10px;
    height: 5px;
  }
  .dots li.active {
    width: 30px;
  }
  .buttons button {
    width: 30px;
    height: 30px;
  }
  .row-quot {
    flex-wrap: wrap;
    object-position: center;
  }
  .quot p {
    font-size: 18px;
    font-family: italic;
  }
  .logo {
    object-position: center;
    text-align: center;
    justify-content: center;
    margin-left: 5rem;
    margin-top: 2rem;
  }
  .kepo {
    padding: 5rem 3rem;
    margin: 1rem 2rem;
    text-align: center;
  }
  .kepo2 {
    text-align: center;
    font-size: 20px;
    width: 300px;
    height: 200px;
  }
}

/* HP */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
  .kepo {
    padding: 20rem 10rem;
  }
  .logo {
    margin: 0 5rem;
  }
}
